@model IEnumerable<Message>
<li class="nav-item dropdown">
    <!-- Menu toggle button -->
    <a class="nav-link" data-toggle="dropdown" href="#" aria-expanded="false">
        <i class="bi bi-chat-text"></i>
        <span class="navbar-badge badge text-bg-danger">@Model.Count()</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end">

        <!-- inner menu: contains the messages -->
        @foreach (var message in Model)
        {
            <a href="#" class="dropdown-item">
                <!--begin::Message-->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="@message.AvatarURL" alt="User Avatar" class="img-size-50 rounded-circle me-3">
                    </div>
                    <div class="flex-grow-1">
                        <h3 class="dropdown-item-title">
                            @message.DisplayName
                            <span class="float-end fs-7 text-danger"><i class="bi bi-star-fill"></i></span>
                        </h3>
                        <p class="fs-7">@message.DisplayName</p>
                        <p class="fs-7 text-secondary">
                            <i class="bi bi-clock-fill me-1"></i> @message.TimeSpan
                        </p>
                    </div>
                </div>
                <!--end::Message-->
            </a>
            <div class="dropdown-divider"></div>
        }
                <!-- end message -->
                <!-- /.menu -->
            
    <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
    </div>
</li>